<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devdd.recipe.firebase">

    <application>

        <service
            android:name="com.devdd.recipe.firebase.service.RecipeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- This meta tag will ensure that Firebase notification [without payload] will show correct icon-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_dev_option" />

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>
